<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CRUD</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %} {{form.as_p}}
      <button type="submit">Guadar Tarea</button>
    </form>

    <h2>Tareas incompletas</h2>
    {% for task in incomplete_tasks%}
    <li><strong>{{ task.title }}</strong> {{ task.description }}</li>
    {% empty %}
    <li>No hay tareas guardadas</li>
    {% endfor %}

    <h2>Tareas completas</h2>
    {% for task in complete_tasks%}
    <li><strong>{{ task.title }}</strong> {{ task.description }}</li>
    {% empty %}
    <li>No hay tareas guardadas</li>
    {% endfor %}

    <script src="" async defer></script>
  </body>
</html>
